#nav {
    float: left;
    background-color: bisque;
    display: table-row;
}

#content {
    float: left;
}

#content #search-panel {
    background-color: #E94A4A;
}

#content #content-panel {
    background-color: darkgrey;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 745px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #nav {
        width: 20%;
    }

    #content {
        width: 80%;
    }
}
